server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      httpclient:
        connect-timeout: 10000
        response-timeout: 60s
      routes:
        - id: login-service
          uri: ${LOGIN_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/login/**
          filters:
            - StripPrefix=0
        
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /api/auth/$\{segment}
        
        - id: employee-service
          uri: ${EMPLOYEE_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/employee/**
          filters:
            - StripPrefix=0
        
        - id: access-control-service
          uri: ${ACCESS_CONTROL_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/access/**
          filters:
            - StripPrefix=0
        
        - id: alert-service
          uri: ${ALERT_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/alert/**
          filters:
            - StripPrefix=1
        
        - id: saga-service
          uri: ${SAGA_SERVICE_URL:http://localhost:8086}
          predicates:
            - Path=/saga/**
          filters:
            - StripPrefix=1
      
      default-filters:
        - name: Retry
          args:
            retries: 3
            statuses: BAD_GATEWAY,GATEWAY_TIMEOUT
            methods: GET,POST
            backoff:
              firstBackoff: 50ms
              maxBackoff: 500ms
              factor: 2
              basedOnPreviousValue: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
    org.springframework.web.cors: DEBUG
    reactor.netty: DEBUG

