spring:
  application:
    name: login-service
  data:
    mongodb:
      host: ${MONGODB_HOST:localhost}
      port: ${MONGODB_PORT:27018}
      database: login_db
      username: ${MONGODB_USER:admin}
      password: ${MONGODB_PASSWORD:adminpassword}
      authentication-database: admin
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5673}
    username: ${RABBITMQ_USER:admin}
    password: ${RABBITMQ_PASSWORD:adminpassword}

server:
  port: 8081

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.accesscontrol: DEBUG
    org.springframework: INFO
    org.springframework.web: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

auth:
  service:
    url: ${AUTH_SERVICE_URL:http://localhost:8085}
